<div class="row">
<div class="small-12 columns">
  <footer class="inner">
    <div class="footer-bottom small-8 columns">
      <ul class="no-bullet small">
              <li class="gray">Made with love in Brooklyn.</li>
          </ul>
    </div>
    <div class="footer-bottom small-4 columns right">
      <ul class="footer-contact no-bullet small">
        <li><a class="gray" href="mailto:learnaerial@gmail.com">Contact</a></li>
        <li><a class="gray" href="{% url 'about' %}">About</a></li>
      </ul>
    </div>
  </footer>
</div>
</div>
