@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



body {
	color: #7a7a7a;
}


h1, h2 {
	font-weight: 200;

}

h1 {
	display: block;
	margin-bottom: 1em;
	font-size: 1.5rem;
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
	font-size: 1.4rem;
	text-transform: capitalize;

}

h3 {
	font-size:1.1rem;
	font-weight: 700;
	color: #575757;
	margin-bottom: 0rem;
}

.top-bar-section li {
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 500; 
}

.top-bar {
	margin-top: 3em;
	margin-bottom: 3em;
	height: 3.3em;
	.inner {
		border-bottom: #7a7a7a 1px solid;
		padding-bottom: 0.5em;
	}
}

dt {
	color: #575757;
}

.about-left {
	padding-right: 2em;
}


.welcome {
	padding-top: 6rem;
	padding-bottom: 6rem;
}


.inner {
	max-width: 62.5em;
	margin: 0 auto;
}


footer {
	display: block;
	border-top: solid 1px #ccc;
}

.footer-contact {
	display: block;
	float: right;
}

.footer-contact li {
	float: right;
	margin-right: 10px;
}

.gray {
	color: #ccc;
}

ul.small {
	font-size: 0.8rem;
	line-height:1.2rem;
}

.footer-bottom {
	padding: 0;
	color: #ccc;
	
}

footer.inner {
	margin-top: 5rem;
}

#home-splash {
	padding-top: 130px;
	min-height: 475px;
	background: #522d86 url("../img/learn-aerial-home-photo.jpg") no-repeat center center;
	background-size: cover;
	p {
		color: #fff;
		font-weight: 100;
		text-align: center;
		// letter-spacing: .1em;
		margin-bottom: 68px;
		font-size: 1.3rem;
		line-height: 1.5;
	}
	a {
		color: #fff;
		text-decoration: underline;
	}
}

.top-bar-section ul li > a {
	text-decoration: none;
}

.event-title {
	padding-top: 2rem;
	padding-bottom: 1rem;

	h1 {
		font-size: 2rem;
		line-height: 1.4;
	}
}

.event-details {
	display: block;
	background: #f7f7f7;
	padding: 20px;
	margin-bottom: 30px;
}

a.events-back {
	font-size: small;
}

.event-text strong {
	color: #575757;

}

.event-summary {
	display: block;
	min-height: 90px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 15px;
	padding-top: 8px;
	padding-bottom: 15px;
}

.event-thumbnail {
	display: block;
	margin-top: 7px;
	// float: left;
	// margin-right: 10px;
}

.event-thumbnail-image {
	display: block;
	height: 90px;
	width: 90px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 3px;
}

.summary-details {
	display: block;
	// float: left;
	// margin-left: 10px;
	// padding: 0 10px;
	
}

span.summary-event-name {
	text-transform: uppercase;
	font-size: 1.5rem;
	line-height: 2rem;
	display: block;
	margin-bottom: 0.2rem;
}

a.summary-title {
	color: #222;
	font-weight: 200;
	text-transform: capitalize;
	text-decoration: none;
}

.event-listings-all {
	margin-bottom: 100px;
}

a.archive-link {
	display: block;
	margin-top: 3rem;
}


.first {
	border-top: 1px solid #dddddd;
}


span.summary-event-date {
	font-size: small;

}

span.summary-event-venue {
	font-size: small;
	text-transform: uppercase;
}

#hamburger span {
	position: absolute;
	display: block;
	height: 0;
	top: 50%;
	margin-top: -0.5rem;
	left: 0.90625rem;
	box-shadow: 0 0px 0 1px $primary-color, 0 7px 0 1px $primary-color, 0 14px 0 1px $primary-color;
	width: 1rem;

}

#hamburger {
	position: relative;
	display: block;
	height: 3rem;
	width: 3rem;

}

#mobile-nav {
	display: none;
	margin: 1rem 1rem 2rem;

	.inner {
		border-bottom: #7a7a7a 1px solid;
		padding-bottom: 0.5em;
	}

	ul {
		position: absolute;
		top: 72px;
		right: 0rem;
		display: none;
		z-index: 1000;
		transition: all 0.5s ease-in-out;
		border-left: $topbar-link-color 1px solid;
		border-bottom: $topbar-link-color 1px solid;

	}

	li {
		display: block;
		background-color: white;
		color: $topbar-link-color;
		padding: 1rem;
		text-align: right;
		text-transform: uppercase;
		font-size: 0.8rem;

		a {
			text-decoration: none;

		}

		&.active {
			background-color: $primary-color;
			
			a {
				color: #fff;
			}

		}
	}
}

.team-left img {
	margin-bottom: 3rem;
	border-radius: 3px;
}

.team-right h3 {
	margin-bottom: 0.6rem;
}



.signup-widget {

	h2 {
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: 500;
		color: #222;
		margin-bottom: 1.5rem;
	}

	input#mc-embedded-subscribe {
		padding-top: 0.7rem;
		// padding-right: 2rem;
		padding-bottom: 0.7rem;
		// padding-left: 2rem;
		width: 100%;
		border-radius: 3px;
		font-size: 0.9rem;
		text-transform: uppercase;

	}

}

@media #{$large-only} {
	.signup-widget {	
		width: 30%;
	}
}

div.mc-field-group input {
		color: #222;
	}



#brooklyn {
	padding-left: 0;
}


// _________
// _________

// Listings 
// _________
// _________



.meta {

	margin-top: 15px;
	margin-bottom: 100px;

	div.isa {
		border-left: solid 1px #ccc;
	}


	div {
		margin: 0;
		border-right: solid 1px #ccc;
  		padding-left: 20px;
	}

	h2 {
		font-size: 1.2rem;
	  	font-style: italic;
	  	text-transform: none;
	  	margin-bottom: 20px;
		
	}

	label { 
		font-size: 0.95rem;
		color: #575757;
	}

	input[type=checkbox] {
		border-radius: 2px;
		border: solid 1px #ccc;
		width: 18px;
		height: 18px;
		text-transform: uppercase;
		
		-webkit-appearance:button;
	    color:#FFF;
	    white-space: nowrap;
	    overflow:hidden;
	    margin: 3px 9px 1rem 0;
	}

	input[type=checkbox]:checked {
		background-color: $primary-color;
	}

	input[type=checkbox], label {
		float: left;
	}

	ul {
		margin-bottom: 0;
	}

}

.listing {
	width: 33%;
	float: left;
	min-height: 70px;
	margin-bottom: 50px;
	line-height: 1.6rem;
  	font-size: 1rem;

  	h3 {
  		font-size: 1.2rem;
  		margin-bottom: .3rem;
  	}

  	a {
  		font-style: .8rem;
  		text-decoration: none;
  	}
}

span.category {
	text-transform: capitalize;
}

span.category_uncapped {
	text-transform: none;
}

.listing-details {
	float: left;
	margin-bottom: 30px;
	padding: 0;
}

.listing-address {
	margin-bottom: 30px;
}

.listing-title {

	span.category {
		color: #222;
		font-size: .8rem;
		text-transform: uppercase;
	}

	h1 {
		font-size: 2rem;
		line-height: 1.4;
		text-transform: capitalize;
		
	}

	a {
		text-decoration: none;
	}

}

div.offering {
	font-style: italic;
	margin-bottom: 50px;

}

div.update-prompt {
	float: left;
}

.update-prompt h2 {
	font-size: 1.3rem;
	margin-bottom: 0;
}

div#map-canvas {
	width: 100%;
	height: 380px;
	margin-bottom: 30px;
}

#email-button {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	width: 158px;
	border-radius: 3px;
	font-size: 0.9rem;
	text-transform: uppercase;
}

div#listing-lightbox {
	margin: 70px 70px;
}

div#listing-single {
	width: 800px;
}

#listingModal {
	top: 130px;
}

.reveal-modal .close-reveal-modal {
    color: #7a7a7a;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 6rem;
    right: 6rem;
    text-decoration: none;
}

.update-prompt-below {
	margin-bottom: 10px;
}


span.show-hide {
  font-size: 0.9em;
  color: #522387;
  cursor: pointer;
  margin-left: 2.4em;
  font-style: italic;
}

div#moreofferings {
	display: none;
}

div.internal-offerings {
	border: none;
}


// Media Queries

//For small screens 

@media #{$small-only} {
	#home-splash {
		padding-top: 100px;
		p {
			font-size: 18px;
		}
	}

	li.listing {
		width: 100%;
		margin-bottom: 35px;
	}

	.meta {
		margin-bottom: 20px;
	}

	.meta div.isa {
		border-left: none;
	}

	.meta div {
		margin-bottom: 20px;
	}

	div#listing-lightbox {
    	margin: 0px 0px;
  	}

  	a#close-x {
  		right: 2rem;
  		top: 1.5rem;
  	}

  	div.offering {
  		margin-bottom: 0;
  	}
}


//For small and media screens only

@media only screen and (max-width: 64em) { 
	.update-prompt {
  		display: none;
  	}

  	.meta div.isa {
		border-left: none;
	}

	.meta div {
		border-right: none;
	}
}

// For large screens

@media only screen and (min-width: 64.063em) { 
	.update-prompt-below {
		display: none;
	}
}
