{% extends 'blog/base_blog.html' %}

{% block title %}{% if post.page_title %}{{ post.page_title }}{% else %}{{ post.title }}{% endif %}{% endblock %}
{% block og_title %}{% if post.page_title %}{{ post.page_title }}{% else %}{{ post.title }}{% endif %}{% endblock %}
{% block og_image %}{{ base_url }}{{ post.banner_image_resized.url }}{% endblock %}
{% block og_description %}{{ post.meta_description|truncatewords:30 }} {% endblock %}


{% block banner %}
<div class="row blog-banner">
  <div class="blog-post large-12 columns">
  <div class="by-line">
     {% if post.author and post.publish_date %}
        {{ post.author.name }} | {{ post.publish_date|date:"F j, Y" }}
      {% elif post.author %}
        {{ post.author.name }}
      {% else %}
        {{ post.publish_date|date:"F j, Y" }}
      {% endif %}
      </div>
    <h1>{{ post.title }}</h1>
      {%if post.subtitle %}<h2>{{ post.subtitle }}</h2>{% endif %}

      
  </div>
</div>

<div class="blog-banner-img" style="background-image: url('{{ post.banner_image_resized.url }}');">
</div>
{% endblock %}

{% block main %}
  <div class="wysiwyg">
    {{ post.body|safe }}
  </div>
  <hr>
  <div class="post-info">
    <div class="post-links">
      {% if post.categories %}
        Posted in
      {% for category in post.categories.all %}
        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        {% if not forloop.last %}
        ,
        {% endif %}
         | 
      {% endfor %}
      {% endif %}
      <a href="{% url 'blog_index' %}">Back to all articles</a><br>
    </div>
    <div class="blog-share">
      Share: <a href="{{ post.facebook_share_url }}" target="_blank">FB</a> | 
      <a href="{{ post.twitter_share_url }}" target="_blank">Twitter</a><br>
    </div>
  </div>




{% endblock %}
