{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}


	<h2>About </h2>

<div class="row">
	<div class="about-left large-6 columns">
	<p>Hi. My name is Lisa Jamhoury. I’m an aerial instructor and performer in New York City. I’ve been teaching aerial for a few years now and I find that my students always ask the same questions. 

	<p>I’ve been finding myself wishing there was a place online where they could find what they're looking for.</p>
	</div>

	<div class="about-right large-6 offset-1 columns">
	<p>This site is my try at answering the most common questions I get about aerial acrobatics. It's a work in progress. If you notice something missing or incorrect, please <a href="mailto:learnaerial@gmail.com">let me know</a>!</p>

	<p>Want to learn more about me and my classes? Hop over to <a href="http://lisajamhoury.com/" target="_blank">lisajamhoury.com</a>.</p>
	</div>
</div>
	
<div class="row">
<div class="large-8 columns">
	<h2>FAQ</h2>

	<dl>
	<dt>I’ve never done aerial before, where can I learn?</dt>
	<dd>NYC has many great <a href="{% url 'schools' %}">aerial schools</a>. Several <a href="{% url 'companies' %}">aerial companies</a> also hold workshops or private classes, don’t miss out on learning about them as well. </dd>

	<dt>Where can I see other aerialists perform?</dt>
	<dd>Several of the <a href="{% url 'schools' %}">aerial schools</a> hold regular performances. There are also several <a href="{% url 'venues' %}">aerial venues</a> that hold regular aerial or cabaret-style shows. I've listed many of the upcoming events on the <a href="{% url 'events' %}">events page</a>.</dd>

	<dt>I’m a beginner aerial student and would like to try out performing. Where can I perform?</dt>
	<dd>I’m recommend talking to your teacher(s) about opportunities. Several of the <a href="{% url 'schools' %}">aerial schools</a> hold student shows and performance workshops. </dd>

	<dt>Where do I buy aerial equipment of my own? </dt>
	<dd>You can find a list of basics on the <a href="{% url 'equipment' %}">equipment page</a>. Rigging without proper knowledge can be very dangerous&mdash;even life threatening. Please talk to an experienced aerialist and professional rigger before getting your own equipment. </dd>

	<dt>Is there a place where I can practice aerial on my own between classes? </dt>
	<dd>A few of the <a href="{% url 'schools' %}">aerial schools</a> offer open workout time. This is semi-supervised open training time. There will be a supervisor in the space at the time, but they will usually not be actively teaching or answering questions. Many open workouts are only for professionals and require pre-approval, but there are also open workouts suited for students and beginners. </dd>

	<dd>Several schools will also allow you to rent a point on your own. This is unsupervised time and often requires that the renter can rig on his/her own. Contact your school or instructor to learn more about renting a point. </dd>

	<dt>I’d like to be an aerial teacher. Is there a school that offers an aerial teacher certification?</dt>
	<dd>There is not currently a school that offers teacher certification courses in NYC. The <a href="http://necenterforcircusarts.org/" target="_blank">New England Center for Circus Arts</a> in Brattleboro, Vermont offers a training program.</dd>
	</dl>
	<br><br><br><br>
</div>
</div>




{% endblock %}