{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="large-12">
	<h2>About </h2>

<div class="row">
	<div class="about-left large-6 columns">
	<p>Hi. My name is Lisa Jamhoury. I’m an aerial instructor and performer in New York City. I’ve been teaching aerial for a few years now and I find that my students always ask the same questions. 

	<p>I’ve been finding myself wishing  there was a place online where I could send them to find the information.</p>
	</div>

	<div class="about-right large-6 offset-1 columns">
	<p>This site is my try at answering the most common questions I get from students and from people just wanting to learn aerial acrobatics. It's a work in progress. If you notice something missing or incorrect, please <a href="mailto:learnaerial@gmail.com">let me know</a>!</p>

	<p>Want to learn more about me and my classes? Hop over to <a href="http://lisajamhoury.com/" target="_blank">lisajamhoury.com</a>.</p>
	</div>
</div>
	
<div class="row">
<div class="large-8 columns">
	<h2>FAQ</h2>

	<dl>
	<dt>I’ve never done aerial before, where can I learn?</dt>
	<dd>NYC has many great aerial schools. See the list here. Several aerial companies also hold workshops or private classes, don’t miss out on learning about them as well. </dd>

	<dt>Where can I see other aerialists perform?</dt>
	<dd>Several of the schools hold regular performances, so I’d recommend checking out their websites and/or signing up for their newsletters to find out about upcoming events. There are also several venues that hold regular aerial or cabaret-style shows. See the list of venues here. </dd>

	<dt>I’m a beginner aerial student and would like to try out performing. Where can I perform?</dt>
	<dd>I’m recommend talking to your teacher(s) about opportunities. Several of the aerial schools—AerialArtsNYC, BigSky Works, SkyBox—hold student shows and performance workshops. </dd>

	<dt>Where do I buy aerial equipment of my own? </dt>
	<dd>You can find a list of basics on the equipment page. Rigging equipment without proper knowledge can be very dangerous, please talk to an experienced aerialist and professional rigger before getting your own equipment. </dd>

	<dt>Is there a place where I can practice aerial on my own between classes? </dt>
	<dd>A few of the aerial schools offer open workout time. This is semi-supervised open training time. There will be a supervisor in the space at the time, but they will not be actively teaching or answering questions. Many open workouts are only for professionals and require pre-approval, but there are also open workouts suited better for students and beginners. Currently the Muse and the SkyBox offer open workout times. </dd>

	<dd>Several schools will also allow you to rent a point on your own. This is unsupervised time and often requires that the renter can rig on his/her own. Contact your school or instructor to learn more about renting a point. </dd>

	<dt>I’d like to be an aerial teacher! Is there a school that offers an aerial teacher certification?</dt>
	<dd>There is not currently a school that offers teacher certification courses in NYC, however, there is a new organization, the New York Aerial Teachers Alliance, that is working on this. Learn more and follow their progress at nyaerialteachers.org. </dd>
	</dl>
</div>
</div>

</div>


{% endblock %}