{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block og_title %}About{% endblock %}
{% block content %}


<h1>About </h1>

<div class="row">
	<div class="about-left large-6 columns">
	<p>Learn Aerial is a hub for aerial artists and appreciators. It was started by Lisa Jamhoury, an aerial instructor and performer, to answer the most common questions aerial students ask about schools, venues, companies and events. </p>

	<p>It also aims to be a resource for instructors and performers looking to promote their events and keep up with their community.</p>  
	</div>

	<div class="about-right large-6 offset-1 columns">
	<p>Currently Learn Aerial serves New York City only, <a href="mailto:lisa@learnaerial.com">be in touch</a> if you are interested in starting up a similar site in your city.</p>
	<p>If you notice something missing or incorrect, or want us to include your upcoming classes, events and workshops in the <a href="{% url 'events' %}">event listings</a> please <a href="mailto:heather@learnaerial.com">get in touch</a>.</p>
	</div>
</div>

<h1>Team </h1>
	
<div class="row">
	<ul class="no-bullet">
		<li>
			<div class="team-left large-5 columns">
			<img src="{% static "img/lisa.jpg" %}" alt="Lisa Jamhoury">
			</div>

			<div class="team-right large-7 columns">
			<h3>Lisa Jamhoury</h3>
			<p>Lisa Jamhoury has been adorning airspace in Brooklyn and beyond since early 2009. She performs and choreographs aerial dance pieces on various apparatuses. When she needs a bit of grounding, she dons a pair of stilts or grabs her fire poi. She has performed across the United States, from New York to Hawaii in several venues including Brooklyn Bowl, Urban Outfitters, and Soho Mixed Media Bar in Honolulu. Lisa co-choreographed a three-part aerial performance for TEDx Brooklyn 2011.<br/> 
			<a href="http://aerial.lisajamhoury.com" target="_blank">aerial.lisajamhoury.com</a></p>
			</div>
		</li>

		<div class="clearfix"></div>
		
		<li>
			<div class="team-left large-5 columns">
			<img src="{% static "img/heather.jpg" %}" alt="Heather Campbell">
			</div>

			<div class="team-right large-7 columns">
			<h3>Heather Campbell</h3>
			<p>Heather Campbell has been practicing aerial silks for the past few years in the New York area and is one of Lisa's first students. Years before starting to learn aerial, Heather's interest was sparked at circus events where she was a clown and juggler. For Heather, aerial provides a counterbalance to her otherwise cerebral life as a PhD student of speech science.</p>
			</div>
		</li>

	</ul>
</div>

<h1>FAQ</h1>

<div class="row">
	<div class="large-8 columns">
	
	<dl>
		<dt>What is aerial?</dt>
		<dd>“Aerial,” also referred to as “aerial acrobatics,” is a performance art requiring the use of overhead rigging. The first aerial act was the trapeze, dating back to the mid-1800s. Other aerial acts include aerial silks (also referred to as aerial tissue or fabric), lyra, corde lisse and hammock, among others.</dd> 
		<dd>Aerial has traditionally been a circus art, with rigging between the center poles of the big top. Beginning around the 1970s aerial grew into the dance ("aerial dance"), theater ("aerial theater"), and even yoga ("aerial yoga") worlds. </dd>

		<dd>Aerial&mdash;and the circus and dance traditions that influence it&mdash;is rich with history. Here are a few places where you can learn more:</dd> 

		<dd>
		<ul>
			<li><a href="http://www.circusfans.org/res_det.php?res_id=354" target="_blank">Circus Aerial Acts by Joseph W. Rogers, Ph.D.</a></li>
			<li><a href="http://iml.jou.ufl.edu/projects/s11/libby_k/history.html" target="_blank">The World of Aerial Dance: History</a></li>
		</ul>
		</dd>

		<dt>I’ve never done aerial before, where can I learn?</dt>
		<dd>NYC has many great <a href="{% url 'schools' %}">aerial schools</a>. Several <a href="{% url 'companies' %}">aerial companies</a> also hold workshops or private classes, don’t miss out on learning about them as well. </dd>

		<dt>Where can I see other aerialists perform?</dt>
		<dd>Several of the <a href="{% url 'schools' %}">aerial schools</a> hold regular performances. There are also several <a href="{% url 'venues' %}">aerial venues</a> that hold regular aerial or cabaret-style shows. Upcoming events are listed on the <a href="{% url 'events' %}">events page</a>.</dd>

		<dt>I’m a beginner aerial student and would like to try out performing. Where can I perform?</dt>
		<dd>Talk to your teacher(s) about opportunities. Several of the <a href="{% url 'schools' %}">aerial schools</a> hold student shows and performance workshops. </dd>

		<dt>Where do I buy aerial equipment of my own? </dt>
		<dd>You can find a list of basics on the <a href="{% url 'equipment' %}">equipment page</a>. Rigging without proper knowledge can be very dangerous&mdash;even life threatening. Please talk to an experienced aerialist and professional rigger before getting your own equipment. </dd>

		<dt>Is there a place where I can practice aerial on my own between classes? </dt>
		<dd>A few of the <a href="{% url 'schools' %}">aerial schools</a> offer open workout time. This is semi-supervised open training time. There will be a supervisor in the space at the time, but they will usually not be actively teaching or answering questions. Many open workouts are only for professionals and require pre-approval, but there are also open workouts suited for students and beginners. </dd>

		<dd>Several schools will also allow you to rent a point on your own. This is unsupervised time and often requires that the renter can rig on his/her own. Contact your school or instructor to learn more about renting a point. </dd>

		<dt>I’d like to be an aerial teacher. Is there a school that offers an aerial teacher certification?</dt>
		<dd>There is not currently a school that offers teacher certification courses in NYC. The <a href="http://necenterforcircusarts.org/" target="_blank">New England Center for Circus Arts</a> in Brattleboro, Vermont offers a training program.</dd>
	</dl>
	<br><br><br><br>
</div>
</div>




{% endblock %}