{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Learn Aerial</title>
    <meta property="og:title" content="{% block og_title %}{% endblock %} | Learn Aerial" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% block og_description %}Learn Aerial is a hub for aerial artists and appreciators in New York City. It provides listings for aerial schools, venues, companies and events in addition to FAQs for beginner aerial students.{% endblock %}" />
    <meta property="og:url" content="{{ current_path }}" />
    <meta property="og:image" content="{% block og_image %}http://learnaerial.com/static/img/learnaerial-social.jpg{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" />
    <link rel="stylesheet" href="{% static "css/app.css" %}" />
    <script src="{% static 'js/modernizr/modernizr.js' %}"></script>
    <meta name="google-site-verification" content="F2F7SHXCT_mUfE1iaUgmdOACwCmN_EO3TZSTNTsl_Es" />
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>

<body>

  {% include 'includes/nav.html' %}

  {% block banner %}
  {% endblock %}

  <div class="row">
    <div class="large-12 columns">

    {% block content %}
    {% endblock %}

    </div>
  </div>

  {% include 'includes/footer.html' %}

  {% include 'includes/footer_scripts.html' %}
</body>
</html>
