{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | learnaerial.com</title>
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Learn Aerial is a hub for aerial artists and appreciators in New York City. It provides listings for aerial schools, venues, companies and events in addition to FAQs for beginner aerial students." />
    <meta property="og:url" content="{{ current_path }}" />
    <meta property="og:image" content="http://learnaerial.com/static/img/learnaerial-social.jpg" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" />
    <link rel="stylesheet" href="{% static "css/app.css" %}" />
    <script src="{% static 'js/modernizr/modernizr.js' %}" o></script>
    <meta name="google-site-verification" content="F2F7SHXCT_mUfE1iaUgmdOACwCmN_EO3TZSTNTsl_Es" />
  </head>

<body>
<div class="row">

<nav class="hide-for-large-up" id="mobile-nav">
  <div class="inner clearfix ">
    <a href="{% url 'home' %}"><img src="{% static "img/learn-aerial-logo-440.gif" %}" alt="Learn Aerial Logo" height="36px" width="220px"></a>
    <a class="menu-icon right " id="hamburger"><span></span></a>
    <ul id="mobile-nav-links">
      <li {% if current_page == 'about' %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
      <li {% if current_page == 'schools' %} class="active" {% endif %}><a href="{% url 'schools' %}">Schools</a></li>
      <li {% if current_page == 'venues' %} class="active" {% endif %}><a href="{% url 'venues' %}">Venues</a></li>
      <li {% if current_page == 'companies' %} class="active" {% endif %}><a href="{% url 'companies' %}">Companies</a></li>
      <li {% if current_page == 'event_listing' or current_page == 'events' %} class="active" {% endif %}><a href="{% url 'events' %}">Events</a></li>
      <li {% if current_page == 'equipment' %} class="active" {% endif %}><a href="{% url 'equipment' %}">Equipment</a></li>
    </ul>
  </div>
</nav>

<nav class="top-bar large-12 columns show-for-large-up">
<div class="inner clearfix">
  <ul class="title-area">
    <li class="name">
     <a href="{% url 'home' %}"><img src="{% static "img/learn-aerial-logo-440.gif" %}" alt="Learn Aerial Logo" height="36px" width="220px"></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li {% if current_page == 'about' %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
      <li {% if current_page == 'schools' %} class="active" {% endif %}><a href="{% url 'schools' %}">Schools</a></li>
      <li {% if current_page == 'venues' %} class="active" {% endif %}><a href="{% url 'venues' %}">Venues</a></li>
      <li {% if current_page == 'companies' %} class="active" {% endif %}><a href="{% url 'companies' %}">Companies</a></li>
      <li {% if current_page == 'event_listing' or current_page == 'events' %} class="active" {% endif %}><a href="{% url 'events' %}">Events</a></li>
      <li {% if current_page == 'equipment' %} class="active" {% endif %}><a href="{% url 'equipment' %}">Equipment</a></li>
    </ul>
  </section>
  </div>
</nav>
</div>

<div class="row">
<div class="large-12 columns">
{% block content %}
{% endblock %}

</div>
</div>

<div class="row">
<div class="small-12 columns">
  <footer class="inner">
    <div class="footer-bottom small-8 columns">
      <ul class="no-bullet small">
              <li class="gray">Made with love in Brooklyn.</li>
          </ul>    
    </div>
    <div class="footer-bottom small-4 columns right">
      <ul class="footer-contact no-bullet small">
              <li><a class="gray" href="mailto:learnaerial@gmail.com">Contact</a></li>
          </ul>    
    </div>
  </footer>  
</div>
</div>

<script src="{% static 'js/jquery/dist/jquery.js' %}" ></script>
<script src="{% static 'js/foundation/js/foundation.min.js' %}" ></script>
<script>
  $(document).foundation();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50880524-1', 'learnaerial.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  $('#hamburger').on('click', function(event) {
    event.preventDefault();
    $('#mobile-nav-links').toggle();
  }); 
  
  // L33T stuff to clear the form fields
  $('#mc-embedded-subscribe-form').on('submit', function(event){
    setTimeout(function() {
      $('#mc-embedded-subscribe-form').find("input[type=text], input[type=email]").val('');
    }, 200);
  });
  
  // Lisa is L33t. Just in case you were wondering.          
</script>


</body>
</html>
