{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Aerial Companies New York City{% endblock %}
{% block og_title %}Aerial Companies New York City{% endblock %}
{% block content %}
	<h1>Aerial Companies New York City</h1>

	<div class="row">
		<div class="large-8 columns">
			<p>New York City has many excellent aerial dance companies. Each of these companies perform throughout the city. They also teach and hold workshops. </p>
		
 	
 			<ul class="no-bullet">

			<li><h3>Black Acrobat</h3>
			<a href="http://www.kiebpoli.com/" target="_blank">www.kiebpoli.com</a><br/>
			</li><br/>
			
			<li><h3>Constellation Moving Company</h3>
			<a href="http://www.constellationmoving.org/" target="_blank">www.constellationmoving.org</a><br/>
			</li><br/>
			
			<li><h3>Fly-by-Night Dance Theater </h3>
			<a href="http://www.flybynightdance.org/" target="_blank">www.flybynightdance.org</a><br/>
			</li><br/>
			
			<li><h3>Grounded Aerial </h3>
			<a href="http://www.groundedaerial.com/" target="_blank">www.groundedaerial.com</a><br/>
			</li><br/>

			<li><h3>Helium Aerial Dance </h3>
			<a href="http://www.heliummm.com/" target="_blank">www.heliummm.com</a><br/>
			</li><br/>
			
			<li><h3>Hybrid Movement Company</h3>
			<a href="http://www.thehybridmovementcompany.net/1323425" target="_blank">www.thehybridmovementcompany.net</a><br/>
			</li><br/>
			
			<li><h3>ImaginAerial</h3>
			<a href="http://www.imaginaerial.com/" target="_blank">www.imaginaerial.com</a><br/>
			</li><br/>
			
			<li><h3>Lady Circus</h3>
			<a href="http://ladycircus.com/" target="_blank">ladycircus.com</a><br/>
			</li><br/>
			
			<li><h3>Lisa’s Bright Ideas</h3>
			<a href="http://www.lisasbrightideas.com/" target="_blank">www.lisasbrightideas.com</a><br/>
			</li><br/>
			
			<li><h3>Only Child</h3>
			<a href="http://www.onlychildaerialtheatre.com/" target="_blank">www.onlychildaerialtheatre.com</a><br/>
			</li><br/>

			<li><h3>Urban Circus NYC</h3>
			<a href="http://www.urbanaerialnyc.com/" target="_blank">www.urbanaerialnyc.com</a><br/>
			</li><br/>
		
			<li><h3>Vertical Aerial Arts</h3>
			<a href="https://www.facebook.com/pages/Vertical-Aerial-Arts/363071437109050" target="_blank">www.facebook.com/pages/Vertical-Aerial-Arts</a><br/>
			</li><br/>

			</ul>
		</div>
		
		<div class="signup-widget large-4 columns" >
			{% include "includes/newsletter-form.html" %}
		</div>
	</div>

{% endblock %}
