{% extends 'base.html' %}
{% block title %}Aerial Companies New York City{% endblock %}
{% block content %}


	<h1>Aerial Companies New York City</h1>

	<div class="row">
	<div class="large-8 columns">
	<p>New York City has many excellent aerial dance companies. Each of these companies perform throughout the city. They also teach and hold workshops. </p>
	</div>
	</div>

<!-- 	<div class="row">

	<h1>Aerial Companies New York City</h1>
 -->		<ul class="no-bullet">

			<li><span class="school-name">Black Acrobat</span><br/>
			<a href="http://www.kiebpoli.com/" target="_blank">www.kiebpoli.com</a><br/>
			</li><br/>
			
			<li><span class="school-name">Constellation Moving Company</span><br/>
			<a href="http://www.constellationmoving.org/" target="_blank">www.constellationmoving.org</a><br/>
			</li><br/>
			
			<li><span class="school-name">Fly-by-Night Dance Theater </span><br/>
			<a href="http://www.flybynightdance.org/" target="_blank">www.flybynightdance.org</a><br/>
			</li><br/>
			
			<li><span class="school-name">Grounded Aerial </span><br/>
			<a href="http://www.groundedaerial.com/" target="_blank">www.groundedaerial.com</a><br/>
			</li><br/>

			<li><span class="school-name">Helium Aerial Dance </span><br/>
			<a href="http://www.heliummm.com/" target="_blank">www.heliummm.com</a><br/>
			</li><br/>
			
			<li><span class="school-name">Hybrid Movement Company</span><br/>
			<a href="http://www.thehybridmovementcompany.net/1323425" target="_blank">www.thehybridmovementcompany.net</a><br/>
			</li><br/>
			
			<li><span class="school-name">ImaginAerial</span><br/>
			<a href="http://www.imaginaerial.com/" target="_blank">www.imaginaerial.com</a><br/>
			</li><br/>
			
			<li><span class="school-name">Lady Circus</span><br/>
			<a href="http://ladycircus.com/" target="_blank">ladycircus.com</a><br/>
			</li><br/>
			
			<li><span class="school-name">Lisa’s Bright Ideas</span><br/>
			<a href="http://www.lisasbrightideas.com/" target="_blank">www.lisasbrightideas.com</a><br/>
			</li><br/>
			
			<li><span class="school-name">Only Child</span><br/>
			<a href="http://www.onlychildaerialtheatre.com/" target="_blank">www.onlychildaerialtheatre.com</a><br/>
			</li><br/>

			<li><span class="school-name">Urban Circus NYC</span><br/>
			<a href="http://www.urbanaerialnyc.com/" target="_blank">www.urbanaerialnyc.com</a><br/>
			</li><br/>
		
			<li><span class="school-name">Vertical Aerial Arts</span><br/>
			<a href="https://www.facebook.com/pages/Vertical-Aerial-Arts/363071437109050" target="_blank">www.facebook.com/pages/Vertical-Aerial-Arts</a><br/>
			</li><br/>

		</ul>
	



{% endblock %}
