{% extends 'base.html' %}
{% block title %}Equipment{% endblock %}
{% block content %}

<div class="large-12">
	<h1>Buying Basic Aerial Equipment</h1>

	<div class="row">
	<div class="large-8 columns">
	<p>Aerial equipment ranges from the relatively straight-forward to the incredibly complicated. Here are a few places where you can begin to build your own aerial arsenal.</p> 

	<p><strong>REMEMBER! Rigging without proper knowledge can be life threatening. Talk to an experienced aerialist and/or professional rigger before getting or attempting to rig your own equipment.</strong></p>

	</div>
	</div>

	<div class="row">
	<div class="large-6 columns">

	<ul class="no-bullet">

	<li><span class="school-name">Custom Built Equipment</span><br/>
	<a href="http://www.cbe-circus.com/" target="_blank">www.cbe-circus.com</a><br/>
	CBE sells several different types of aerial apparatuses (including rope, lyra, silks, straps, trapeze) and rigging.
	</li><br/>

	<li><span class="school-name">Fabric Depot</span><br/>
	<a href="http://www.fabricdepotco.com/" target="_blank">www.fabricdepotco.com</a><br/>
	Many aerialists buy their aerial fabric (aerial silks) here. See <a href="http://www.fabricdepotco.com/2014Pages/page31.html" target="_blank">page 31</a> of the current catalog for the specific fabric.
	</li><br/>

	<li><span class="school-name">Mutual Hardware</span><br/>
	<a href="http://www.mutualhardware.com/" target="_blank">www.mutualhardware.com</a><br/>
	Mutual Hardware is located in Long Island City, Queens and sells many of the commonly needed pieces of rigging hardware.
	</li><br/>

	</ul>
	</div>
	</div>
	</div>

{% endblock %}
