{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Aerial Events in New York City{% endblock %}
{% block og_title %}Aerial Events in New York City{% endblock %}
{% block content %}


	<h1>Aerial Events New York City</h1>


	<div class="row">
		<div class="large-8 columns">
		<p>Events in New York City are listed by date.<!--  Subscribe to receive our weekly listings email. --> If you'd like to list your event, <a href="mailto:heather@learnaerial.com">email us</a>. </p><br>
			

			<section class="event-listings-all">

				{% for event in events %}
				<div class="event-summary {%if forloop.first %}first{%endif%} row collapse">
					
					<div class="event-thumbnail large-2 columns">
						<a href="{% url 'event-listing' event.slug %}">
							<div class="event-thumbnail-image" style="background-image: url('{{ event.image_thumbnail.url }}')"></div>
						</a>
					</div>

					<div class="summary-details large-10 columns">
					<span class="summary-event-name"><a class="summary-title" href="{% url 'event-listing' event.slug %}">{{ event.name|truncatechars:75 }}</a></span>
					<span class="summary-event-venue">{{ event.venue }}</span>
					<span class="summary-event-date"> | {{ event.start_date}} 
					{% if event.end_date %} &ndash; {{ event.end_date }} {% endif %} | <a href="{% url 'event-listing' event.slug %}">Event details</a><br>
					</div>
				</div>
				{% endfor %}

			</section>


			<section class="event-listings-ongoing">

			<h2>Ongoing Events</h2>
			{% for event in ongoing_events %}
			<div class="event-summary {%if forloop.first %}first{%endif%} row collapse">
				
				<div class="event-thumbnail large-2 columns">
					<a href="{% url 'event-listing' event.slug %}">
						<div class="event-thumbnail-image" style="background-image: url('{{ event.image.url }}')"></div>
					</a>
				</div>

				<div class="summary-details large-10 columns">
				<span class="summary-event-name"><a class="summary-title" href="{% url 'event-listing' event.slug %}">{{ event.name|truncatechars:75 }}</a></span>
				<span class="summary-event-venue">{{ event.venue }}</span>
				<span class="summary-event-date"> | <a href="{% url 'event-listing' event.slug %}">Event details</a></span><br>
				</div>
			</div>
			{% endfor %}

			</section>

			
			<p><a class="archive-link" href="{% url 'events-archive' %}">View past events</a></p>


		</div>

		<div class="signup-widget large-4 columns" >
			{% include "includes/newsletter-form.html" %}
		</div>

	</div>








{% endblock %}