{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Past Aerial Events New York City{% endblock %}
{% block content %}


	<h1>Past Aerial Events</h1>


	<div class="row">
	<div class="large-8 columns">
	<p>This is an archive of past events. Go <a href="{% url 'events' %}">here</a> to see future events.</a>.</p><br>
		

	<section class="event-listings-archive">

		{% for event in events_archive %}
		<div class="event-summary {%if forloop.first %}first{%endif%} row collapse">
			
			<div class="event-thumbnail large-2 columns">
				<a href="{% url 'event-listing' event.slug %}">
					<div class="event-thumbnail-image" style="background-image: url('{{ event.image.url }}')"></div>
				</a>
			</div>

			<div class="summary-details large-10 columns">
			<span class="summary-event-name"><a class="summary-title" href="{% url 'event-listing' event.slug %}">{{ event.name|truncatechars:75 }}</a></span>
			<span class="summary-event-venue">{{ event.venue }}</span>
			<span class="summary-event-date"> | {{ event.start_date}} 
			{% if event.end_date %} &ndash; {{ event.end_date }} {% endif %} | <a href="{% url 'event-listing' event.slug %}">Event details</a><br>
			</div>
		</div>
		{% endfor %}

	</section>

	</div>
	</div>








{% endblock %}