{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ event.name }} at {{ event.get_venue_name }}{% endblock %}
{% block og_title %}{{ event.name }} at {{ event.get_venue_name }}{% endblock %}
{% block og_image %}{{ base_url }}{{ event.image.url }}{% endblock %}
{% block og_description %}{{ event.description|truncatewords:30 }} {% endblock %}
{% block content %}


	
	<div class="row">
	<div class="large-8 columns">
	<a class="events-back" href="{% url 'events' %}">Back to all events</a>	
	
	<section class="event-title">
		<h1>{{ event.name }}</h1>
	</section>

	<img src="{{ event.image_feature.url }}" height="" width="660px"></a>

	<section class="event-details">
		<div class="event-text">
		<p>
		{% if event.get_venue_name %}<strong>Venue:</strong> <a href="{{ event.get_venue_url }}" {% if not event.venue %}target="_blank" {% endif %}>{{ event.get_venue_name }}</a><br>{% endif %}
		
		{% if not event.ongoing %}
			{% if event.start_date %}<strong>Date:</strong> {{ event.start_date }} 
			{% if event.end_date %} &ndash; {{ event.end_date }} {% endif %}<br>{% endif %}
		{% endif %}	
		
		{% if event.time %}<strong>Time:</strong> {{ event.time }}<br>{% endif %}
		{% if event.price %}<strong>Price:</strong> {{ event.price }}<br>{% endif %}
		{% if event.link %}<strong>Website:</strong> <a href="{{ event.link }}" target="_blank">{{ event.link|truncatechars:"45" }}</a>{% endif %}
		</p>

		<p>{{ event.description|linebreaks|safe }}</p>

		</div>

	
	</section>
	<br><a class="events-back" href="{% url 'events' %}">Back to all events</a><br><br><br><br>


	</div>
	</div>
	</div>
	

	










{% endblock %}