{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="home-splash">
  <div class="small-6 large-centered columns">
    <p>Welcome to learnaerial.com.<br>This is a site for people who want to <a href="{% url 'schools' %}">learn</a> and <a href="{% url 'events' %}">enjoy</a> aerial acrobatics.<br><br>
    It's a work in progress maintained by <a href="http://lisajamhoury.com" target="_blank">one aerialist</a>. Please <a href="mailto:learnaerial@gmail.com">get in touch</a> if you think of anything that should be added or changed.</p>
  </div>
  </div>

{% endblock %}

