{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block og_title %}Home{% endblock %}
{% block content %}

<div id="home-splash">
  <div class="small-10 large-6 small-centered large-centered columns">
    <p>Welcome to learnaerial.com.<br>This is a site for people who want to <a href="{% url 'listings' %}">learn</a> and <a href="{% url 'events' %}">enjoy</a> aerial.<br><br>
    It's a work in progress. Please <a href="mailto:lisa@learnaerial.com">get in touch</a> if you think of anything that should be added or changed.</p>
  </div>
  </div>

{% endblock %}

