{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Aerial School, Venue and Company Listings in {{ metro_area.name }}{% endblock %}
{% block og_title %}Aerial School, Venue and Company Listings in {{ metro_area.name }}{% endblock %}
{% block content %}


<h1>Aerial Schools, Venues and Companies in {{ metro_area.name }}</h1>
<a class="events-back" href="{% url 'listings' %}">< Back to all listings</a><br/><br/>

<div class="row">
	<section class="large-12 columns meta">

		<div class="large-4 columns isa">
			<h2>Is a...</h2>
			<ul class="no-bullet categories">
				<div class="internal-filters initial-filters" id="initialcategories" >
					{% for category in categories|slice:":3" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="category" data-filter-slug="{{ category.slug }}" id="checkbox-offering-{{ category.slug }}"/>
						<label for="checkbox-category-{{ category.slug }}">{{ category.name }}</label>
					</li>
					{% endfor %}
					{% if categories.count > 3 %}
					<span class="show-hide showmore">show more</span>
					{% endif %}
				</div>
				<div class="internal-filters more-filters" id="morecategories">
					{% for category in categories|slice:"3:" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="category" data-filter-slug="{{ category.slug }}" id="checkbox-offering-{{ category.slug }}"/>
						<label for="checkbox-offering-{{ category.slug }}">{{ category.name }}</label>
					</li>
					{% endfor %}
					<span class="show-hide showless">show less</span>
				</div>
			</ul>
		</div>
		
		<div class="large-4 columns">
			<h2>Offers...</h2>
			<ul class="no-bullet offerings">
				<div class="internal-filters initial-filters" id="initialofferings" >
					{% for offering in offerings|slice:":3" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="offering" data-filter-slug="{{ offering.slug }}" id="checkbox-offering-{{ offering.slug }}"/>
						<label for="checkbox-offering-{{ offering.slug }}">{{ offering.name }}</label>
					</li>
					{% endfor %}
					{% if offerings.count > 3 %}
						<span class="show-hide showmore">show more</span>
					{% endif %}
				</div>
				<div class="internal-filters more-filters" id="moreofferings">
					{% for offering in offerings|slice:"3:" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="offering" data-filter-slug="{{ offering.slug }}" id="checkbox-offering-{{ offering.slug }}"/>
						<label for="checkbox-offering-{{ offering.slug }}">{{ offering.name }}</label>
					</li>
					{% endfor %}
					<span class="show-hide showless">show less</span>
				</div>
			</ul>	
		</div>

		<div class="large-4 columns">
			<h2>Located in...</h2>
			<ul class="no-bullet location">
				<div class="internal-filters initial-filters" id="initiallocations" >
					{% for city in cities|slice:":3" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="city" data-filter-slug="{{ city.slug }}" id="checkbox-city-{{ city.slug }}"/>
						<label for="checkbox-city-{{ city.slug }}">{{ city.name }}</label>
					</li>
					{% endfor %}
					{% if cities.count > 3 %}
						<span class="show-hide showmore">show more</span>
					{% endif %}
				</div>
				<div class="internal-filters more-filters" id="morelocations">
					{% for city in cities|slice:"3:" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="city" data-filter-slug="{{ city.slug }}" id="checkbox-city-{{ city.slug }}"/>
						<label for="checkbox-city-{{ city.slug }}">{{ city.name }}</label>
					</li>
					{% endfor %}
					<span class="show-hide showless">show less</span>
				</div>
			</ul>
		</div>
		<div class="clearfix"></div>
	</section>


	<div class="large-12 columns">

		<ul id="listings_grid" class="no-bullet">	
			{% for listing in listings %}
			<li class="listing {% for category in listing.categories.all %}category-{{ category.slug }} {% endfor %}{% for offering in listing.offerings.all %}offering-{{ offering.slug }} {% endfor %}city-{{ listing.city.slug }}">
				<div>
					<h3><a class="single-listing" href="{% url 'listing' listing.slug %}">{{ listing.name }}</a></h3>
					<span class="category">{% for category in listing.categories.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %} <span class="category_uncapped">in</span> {{ listing.city }}, {{ listing.state }}</span><br/>
					<a href="{{ listing.website }}" target="_blank">{{ listing.short_website }}</a>
				</div>		
			</li>
			{% endfor %}

		</ul>

	</div>
</div><!-- end row -->

<div id="listingModal" class="reveal-modal" data-reveal></div>

	

{% endblock %}

{% block initScripts %}

GRID.initialize();

{% endblock %}
