{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Aerial School, Venue and Company Listings{% endblock %}
{% block og_title %}Aerial School, Venue and Company Listings{% endblock %}
{% block content %}


<h1>Aerial Schools, Venues and Companies</h1>

<div class="row">
	<section class="large-12 columns meta">

		<div class="large-4 columns isa">
			<h2>Is a...</h2>
			<ul class="no-bullet categories">
				{% for category in categories %}
				<li class="clearfix">
					<input type="checkbox" data-filter-group="category" data-filter-slug="{{ category.slug }}" id="checkbox-category-{{ category.slug }}"/>
					<label for="checkbox-category-{{ category.slug }}">{{ category.name }}</label>
				</li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="large-4 columns">
			<h2>Offers...</h2>
			<ul class="no-bullet offerings">
				<div class="internal-offerings" id="initialofferings" >
					{% for offering in offerings|slice:":3" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="offering" data-filter-slug="{{ offering.slug }}" id="checkbox-offering-{{ offering.slug }}"/>
						<label for="checkbox-offering-{{ offering.slug }}">{{ offering.name }}</label>
					</li>
					{% endfor %}
					<span class="show-hide" id="showmore">show more</span>
				</div>
				<div class="internal-offerings" id="moreofferings">
					{% for offering in offerings|slice:"3:" %}
					<li class="clearfix">
						<input type="checkbox" data-filter-group="offering" data-filter-slug="{{ offering.slug }}" id="checkbox-offering-{{ offering.slug }}"/>
						<label for="checkbox-offering-{{ offering.slug }}">{{ offering.name }}</label>
					</li>
					{% endfor %}
					<span class="show-hide" id="showless">show less</span>
				</div>
			</ul>	
		</div>

		<div class="large-4 columns">
			<h2>Located in...</h2>
			<ul class="no-bullet location">
				<li class="clearfix">
					<a href="/listings/newyorkcity">New York City</a>
				</li>
				<li class="clearfix">
					<a href="/listings/sanfrancisco">San Francisco Bay Area</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</section>


	<div class="large-12 columns">

		<ul id="listings_grid" class="no-bullet">	
			{% for listing in listings %}
			<li class="listing {% for category in listing.categories.all %}category-{{ category.slug }} {% endfor %}{% for offering in listing.offerings.all %}offering-{{ offering.slug }} {% endfor %}city-{{ listing.city.slug }}">
				<div>
					<h3><a class="single-listing" href="{% url 'listing' listing.slug %}">{{ listing.name }}</a></h3>
					<span class="category">{% for category in listing.categories.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %} <span class="category_uncapped">in</span> {{ listing.city }}, {{ listing.state }}</span><br/>
					<a href="{{ listing.website }}" target="_blank">{{ listing.short_website }}</a>
				</div>		
			</li>
			{% endfor %}

		</ul>

	</div>
</div><!-- end row -->

<div id="listingModal" class="reveal-modal" data-reveal></div>

	

{% endblock %}

{% block initScripts %}

GRID.initialize();

{% endblock %}
