{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Thanks for Submitting{% endblock %}
{% block og_title %}Thanks for Submitting{% endblock %}


{% block content %}
    <h1>Thank You!</h1>

    <div class="row">
      <div class="large-8 columns">
          <p>Thanks for submitting your aerial listing. We're reviewing the listing and will add it to the site soon. If you have any questions, please send us an email at <a href="mailto:lisa@learnaerial.com">lisa@learnaerial.com</a>.</p>

          <p><a href="/listings/add">Submit another listing.</a></p>

          <p><a href="/listings">Return to all listings.</a></p>

      </div>
      
      <div class="signup-widget large-4 columns" >
        {% include "includes/newsletter-form.html" %}
      </div>

    </div>




{% endblock %}
