{% extends 'base.html' %}
{% block title %}Aerial Schools New York City{% endblock %}
{% block content %}

<div class="large-12">
	<h1>Aerial Schools New York City</h1>

	<div class="row">
	<div class="large-8 columns">
	<p>New York City is lucky to have many great aerial schools. There are also <a href="{% url 'companies' %}">aerial dance companies</a> and aerialists who teach independently. There are too many independent aerialists in the city for me to list them all here, but as you grow in your practice, don't forget to inquire about training with aerialists whose style you gravitate toward.</p>

	</div>
	</div>
	

	<div class="three-column row">
	<!-- <div class="large-6 columns"> -->
	<section id="brooklyn" class="large-4 columns">
		<h2>Brooklyn</h2>
		<ul class="no-bullet">
			<li><span class="school-name">Big Sky Works</span><br/>
			Brooklyn, Williamsburg<br/>
			<a href="http://bigskyworksbrooklyn.com/" target="_blank">bigskyworksbrooklyn.com</a><br/>
			29 Wythe Ave <br/>
			Brooklyn, NY 11249
			</li><br/>

			<li><span class="school-name">Streb</span><br/>
			Brooklyn, Williamsburg<br/>
			<a href="http://www.streb.org/" target="_blank">www.streb.org</a><br/>
			51 North 1st St.<br/>
			Brooklyn, NY 11249
			</li><br/>

			<li><span class="school-name">The Muse</span><br/>
			Brooklyn, Williamsburg<br/>
			<a href="http://www.themusebrooklyn.com/" target="_blank">www.themusebrooklyn.com</a><br/>
			32 S 1st St. <br/>
			Brooklyn, NY 11249
			</li><br/>


		</ul>
	</section>


	<section id="manhattan" class="large-4 columns">
	<h2>Manhattan</h2>
		<ul class="no-bullet">
			
			<li><span class="school-name">Aerial Arts NYC</span><br/>
			Manhattan, Midtown East <br/>
			<a href="http://www.aerialartsnyc.com/" target="_blank">www.aerialartsnyc.com</a><br/>
			235 E. 49th St. <br/>
			New York, NY 10022
			</li><br/>
		
			<li><span class="school-name">Body and Pole</span><br/>
			Manhattan, Flatiron<br/>
			<a href="http://bodyandpole.com/" target="_blank">bodyandpole.com</a><br/>
			115 West 27th St. <br/>
			New York, NY, 10001
			</li><br/>

			<li><span class="school-name">The SkyBox at Om Factory</span><br/>
			Manhattan, Flatiron<br/>
			<a href="http://theskybox.org/" target="_blank">theskybox.org</a><br/>
			873 Broadway<br/>
			New York, NY 10003
			</li><br/>

			<li><span class="school-name">Trapeze School New York</span><br/>
			Manhattan, three locations<br/>
			<a href="http://newyork.trapezeschool.com/" target="_blank">newyork.trapezeschool.com</a><br/>
			</li><br/>


		</ul>
	</section>

	<section id="queens" class="large-4 columns">
		<h2>Queens</h2>
		<ul class="no-bullet">
			
			<li><span class="school-name">Circus Warehouse</span><br/>
			Queens, Long Island City<br/>
			<a href="http://circuswarehouse.com/" target="_blank">circuswarehouse.com</a><br/>
			53-21 Vernon Blvd<br/>
			Queens, NY 11101
			</li><br/>

		</ul>
	</section>

	</div>
	</div>

{% endblock %}
