{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Aerial Schools New York City{% endblock %}
{% block og_title %}Aerial Schools New York City{% endblock %}
{% block content %}


<h1>Aerial Schools New York City</h1>

<div class="row">
	<div class="large-8 columns">
		<p>New York City is lucky to have many great aerial schools. There are also <a href="{% url 'companies' %}">aerial dance companies</a> and aerialists who teach independently. There are too many independent aerialists in the city for me to list them all here, but as you grow in your practice, don't forget to inquire about training with aerialists whose style you gravitate toward.</p>
	
		<section id="brooklyn" class="large-6 columns">
			<h2>Brooklyn</h2>
			<ul class="no-bullet">
			
				<li><h3>Aeon Aerial Arts Academy</h3>
				Brooklyn, Bushwick <br/>
				<a href="http://www.urbanaerialnyc.com/" target="_blank">www.urbanaerialnyc.com</a><br/>
				345 Eldert st #317 <br/>
				Brooklyn, NY, 11221
				</li><br/>

				<li><h3>Big Sky Works</h3>
				Brooklyn, Williamsburg<br/>
				<a href="http://bigskyworksbrooklyn.com/" target="_blank">bigskyworksbrooklyn.com</a><br/>
				29 Wythe Ave <br/>
				Brooklyn, NY 11249
				</li><br/>

				<li><h3>Brooklyn Airspace</h3>
				Brooklyn, Williamsburg <br/>
				<a href="http://brooklynairspace.com/" target="_blank">brooklynairspace.com</a><br/>
				132 Bedford Ave <br/>
				Brooklyn, NY 11249
				</li><br/>

				<li><h3>Brooklyn Zoo</h3>
				Brooklyn, Williamsburg <br/>
				<a href="http://brooklynzoony.com/" target="_blank">brooklynzoony.com</a><br/>
				230 Bogart St. <br/>
				Brooklyn, NY 11206
				</li><br/>

				<li><h3>Streb</h3>
				Brooklyn, Williamsburg<br/>
				<a href="http://www.streb.org/" target="_blank">www.streb.org</a><br/>
				51 North 1st St.<br/>
				Brooklyn, NY 11249
				</li><br/>

				<li><h3>The Muse</h3>
				Brooklyn, Bushwick<br/>
				<a href="http://www.themusebrooklyn.com/" target="_blank">www.themusebrooklyn.com</a><br/>
				350 Moffatt St. <br/>
				Brooklyn, NY 11226
				</li><br/>



			</ul>
		</section>


		<section id="manhattan" class="large-6 columns">
			<h2>Manhattan</h2>
			<ul class="no-bullet">
			
				<li><h3>Aerial Arts NYC</h3>
				Manhattan, Midtown East <br/>
				<a href="http://www.aerialartsnyc.com/" target="_blank">www.aerialartsnyc.com</a><br/>
				235 E. 49th St. <br/>
				New York, NY 10022
				</li><br/>
			
				<li><h3>Body and Pole</h3>
				Manhattan, Flatiron<br/>
				<a href="http://bodyandpole.com/" target="_blank">bodyandpole.com</a><br/>
				115 West 27th St. <br/>
				New York, NY, 10001
				</li><br/>

				<li><h3>The SkyBox at Om Factory</h3>
				Manhattan, Flatiron<br/>
				<a href="http://theskybox.org/" target="_blank">theskybox.org</a><br/>
				873 Broadway<br/>
				New York, NY 10003
				</li><br/>

				<li><h3>Trapeze School New York</h3>
				Manhattan, three locations<br/>
				<a href="http://newyork.trapezeschool.com/" target="_blank">newyork.trapezeschool.com</a><br/>
				</li><br/>


			</ul>

			<h2>Queens</h2>
			<ul class="no-bullet">
			
				<li><h3>Circus Warehouse</h3>
				Queens, Long Island City<br/>
				<a href="http://circuswarehouse.com/" target="_blank">circuswarehouse.com</a><br/>
				53-21 Vernon Blvd<br/>
				Queens, NY 11101
				</li><br/>

			</ul>
		</section>

	</div><!-- end large-8 -->

	<div class="signup-widget large-4 columns" >
		{% include "includes/newsletter-form.html" %}
	</div><!-- end 4 column -->

</div><!-- end row -->

	

{% endblock %}
