{% extends 'base.html' %}
{% block title %}Aerial Venues New York City{% endblock %}
{% block content %}

<div class="large-12">
	<h1>Aerial Venues New York City</h1>

	<div class="row">
	<div class="large-8 columns">
	<p>New York City has no dedicated aerial performance venues, but there are still plenty of great places to see a good aerial show. The venues listed below regularly host aerial shows. Many of the <a href="{% url 'schools' %}">aerial and circus schools</a> and <a href="{% url 'companies' %}">aerial dance companies</a> hold professional and amateur shows as well.</p>
	</div>
	</div>

	<div class="row three-column">
	<!-- <h3>Venues</h3> -->
	<section id="brooklyn" class="large-4 columns">
		<h2>Brooklyn</h2>
		<ul class="no-bullet">
	
			<li><span class="school-name">House of Yes </span><br/>
			Brooklyn, Bushwick <br/>
			<a href="http://houseofyes.org/" target="_blank">houseofyes.org</a><br/>
			408 Jefferson St. <br/>
			Brooklyn, NY 11237
			</li><br/>

			<li><span class="school-name">Galapagos Art Space</span><br/>
			Brooklyn, Dumbo <br/>
			<a href="http://www.galapagosartspace.com/" target="_blank">www.galapagosartspace.com</a><br/>
			16 Main Street<br/>
			Brooklyn, New York 11201
			</li><br/>

		</ul>
	</section>

	<section id="manhattan" class="large-4 columns">
	<h2>Manhattan</h2>
		<ul class="no-bullet">
			
			<li><span class="school-name">Dixon Place</span><br/>
			Manhattan, Lower East Side <br/>
			<a href="http://dixonplace.org/" target="_blank">dixonplace.org</a><br/>
			161A Chrystie St. <br/>
			New York, NY 10002
			</li><br/>

			<li><span class="school-name">Slipper Room </span><br/>
			Manhattan, Lower East Side<br/>
			<a href="http://www.slipperroom.com/" target="_blank">www.slipperroom.com</a><br/>
			167 Orchard St<br/>
			New York, NY 10002
			</li><br/>

			<li><span class="school-name">Theater for the New City </span><br/>
			Manhattan, Lower East Side<br/>
			<a href="http://www.theaterforthenewcity.net/" target="_blank">www.theaterforthenewcity.net</a><br/>
			155 1st Ave<br/>
			New York, NY 10003
			</li><br/>

		</ul>
	</section>

	<section class="large-4 columns end">
		<!-- this section keeps last column from floating right -->
	</section>

	</div>
	</div>	


{% endblock %}
